 .u-section-1 {
  background-image: none;
  min-height: 1422px;
}

.u-section-1 .u-group-1 {
  min-height: 305px;
  margin-top: 10px;
  margin-bottom: 0;
  height: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 57px 374px 0 346px;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 333px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  transition-duration: 0.5s;
  margin: -192px 0 -104px auto;
}

.u-section-1 .u-image-2 {
  width: 298px;
  height: 392px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  transition-duration: 0.5s;
  margin: -172px auto 0 calc(((100% - 1140px) / 2)  + -35px);
}

.u-section-1 .u-image-3 {
  width: 187px;
  height: 277px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  margin: -277px calc(((100% - 1140px) / 2)  + 194px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 500;
  margin: -197px calc(((100% - 1140px) / 2)  + 333px) 0 calc(((100% - 1140px) / 2)  + 297px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  border-style: solid;
  margin: 10px auto 0 calc(((100% - 1140px) / 2)  + 297px);
  padding: 10px 56px 10px 55px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1163px;
  margin: 169px auto 60px calc(((100% - 1140px) / 2)  + -23px);
}

.u-section-1 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 476px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.375rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 476px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.375rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 476px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --radius: 50px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 93px;
  width: 93px;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  font-size: 1.375rem;
  margin: 20px 1px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1487px;
  }

  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 504px;
    margin-left: 246px;
    margin-right: 274px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + -35px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -236px;
    margin-right: calc(((100% - 940px) / 2)  + 263px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 233px);
    margin-left: calc(((100% - 940px) / 2) + 197px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-left: calc(((100% - 940px) / 2)  + 153px);
    padding: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 175px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 385px;
  }

  .u-section-1 .u-layout-cell-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 385px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 193px;
  }

  .u-section-1 .u-layout-cell-6 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 385px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1504px;
  }

  .u-section-1 .u-group-1 {
    background-position: 9.07% 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 180px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 136px;
    margin-right: 164px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + -18px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 246px;
    margin-right: calc(((100% - 720px) / 2)  + 263px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 123px);
    margin-left: calc(((100% - 720px) / 2) + 87px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -307px;
    margin-left: calc(((100% - 720px) / 2));
    margin-bottom: -309px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 296px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 296px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 296px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1913px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 160px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 46px;
    margin-right: 74px;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + -35px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 1317px;
    margin-right: calc(((100% - 540px) / 2)  + 263px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 30px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1378px;
    margin-left: calc(((100% - 540px) / 2));
    margin-bottom: -673px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1703px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 155px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 324px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 1143px;
    margin-right: calc(((100% - 340px) / 2)  + 142px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1204px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 280px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 280px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 695px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  padding-left: 3px;
  line-height: 2;
  margin: 37px 29px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 432px;
  height: 495px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-layout-wrap-1 {
    --radius: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 56px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 332px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.4375rem;
  margin: 38px auto 0;
}

.u-section-3 .u-image-1 {
  width: 197px;
  height: 300px;
  margin: 18px auto 0 70px;
}

.u-section-3 .u-image-2 {
  width: 194px;
  height: 300px;
  margin: -293px auto 0;
}

.u-section-3 .u-image-3 {
  width: 400px;
  height: 300px;
  margin: -300px -22px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 17px 0 0 749px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  width: 357px;
  margin: -29px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: -29px 783px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 11px 395px 0 388px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 18px 0 766px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 793px 0 -10px;
}

.u-section-3 .u-image-4 {
  width: 239px;
  height: 385px;
  object-position: 50% 100%;
  margin: 4px auto 0 59px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: -13px 793px 0 -10px;
}

.u-section-3 .u-image-5 {
  width: 350px;
  height: 406px;
  margin: -395px 360px 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: -40px 397px 0 386px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 11px 386px 0 397px;
}

.u-section-3 .u-image-6 {
  width: 333px;
  height: 393px;
  margin: -432px 27px 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: -32px 23px 0 760px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 11px 12px 0 771px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 783px 57px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 549px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 583px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -28px;
    margin-right: 295px;
    margin-left: 288px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 583px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -32px;
    margin-right: 593px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -21px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 593px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -341px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -94px;
    margin-right: 297px;
    margin-left: 286px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 286px;
    margin-left: 297px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 583px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 583px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 583px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 329px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 363px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 185px;
    margin-left: 178px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 363px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 373px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 373px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 187px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 176px;
    margin-left: 187px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 363px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 363px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 363px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 183px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 95px;
    margin-left: 88px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 183px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 193px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 193px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 190px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 97px;
    margin-left: 86px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 86px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 183px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 183px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 394px;
    margin-top: -182px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    margin-right: 7px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 995px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.4375rem;
  margin: 17px 405px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 259px;
  height: 353px;
  margin: 22px auto 0 35px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: -29px 805px 0 10px;
}

.u-section-4 .u-image-2 {
  width: 226px;
  height: 317px;
  margin: -345px auto 0 451px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 0 381px 0 359px;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  margin: -28px 21px 0 759px;
}

.u-section-4 .u-image-3 {
  width: 400px;
  height: 300px;
  margin: -346px auto 0 740px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: 56px 417px 0 398px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 39px 0 776px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 815px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  width: 325px;
  margin: 330px auto 0;
}

.u-section-4 .u-image-4 {
  width: 255px;
  height: 307px;
  margin: -336px auto 0 423px;
}

.u-section-4 .u-image-5 {
  width: 240px;
  height: 300px;
  margin: -296px 77px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 261px;
  height: 272px;
  margin: -286px auto 0 42px;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 7px 815px 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 400;
  margin: -22px 39px 0 776px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1.625rem;
  width: 357px;
  margin: 12px auto 0;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 805px 0 10px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  font-size: 1.625rem;
  margin: -31px 34px 60px 781px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 334px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 281px;
    margin-left: 259px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 580px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 540px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 317px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 615px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 615px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 615px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 615px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 615px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 256px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 395px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 171px;
    margin-left: 149px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 360px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 320px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 207px;
    margin-left: 188px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 395px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 395px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 395px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 395px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 395px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 395px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 192px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 215px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 314px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 81px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 180px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 140px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 117px;
    margin-left: 98px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 215px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 215px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 285px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 215px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 215px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 215px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 121px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -74px;
    margin-right: 15px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -300px;
    margin-left: 114px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: -57px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 255px;
    margin-top: -317px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 101px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 15px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 15px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -306px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -276px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -308px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 15px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 1px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-11 {
    width: 340px;
    margin-top: 11px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 15px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 15px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/image16.png');
}

.u-section-5 .u-sheet-1 {
  min-height: 705px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 175px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 747px;
  text-shadow: 2px 0px 8px rgba(0,0,0,1);
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-size: 1.375rem;
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  margin: 30px 165px 0 228px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 60px;
  padding: 18px 36px 19px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 65px;
    margin-left: 128px;
    width: 747px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 489px;
}

.u-section-6 .u-sheet-1 {
  min-height: 684px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 594px;
  background-image: url("images/Capturadepantalla2024-09-16215113.png");
  --radius: 50px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-6 .u-icon-1 {
  width: 92px;
  height: 92px;
  margin: 173px auto 0 159px;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 594px;
  --radius: 50px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 49px;
}

.u-section-6 .u-text-1 {
  margin: 31px 1px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5625rem;
  width: 369px;
  margin: 47px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 490px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 127px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 100px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 1056px;
  }

  .u-section-6 .u-image-1 {
    min-height: 866px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-6 .u-image-1 {
    min-height: 650px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-6 .u-image-1 {
    min-height: 409px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 78px;
  }

  .u-section-6 .u-text-2 {
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 572px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 332px;
  grid-gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-7 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-7 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
  --radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.375rem;
  margin: 20px 0 0;
}

.u-section-7 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-7 .u-text-10 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 665px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1rem;
  }
}